<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../sass/index.css">
	<link rel="stylesheet" href="../sass/base.css">
	<link rel="stylesheet" href="../css/swiper.css">

</head>

<body>
   
	@-@include("header.html")
	<!-- 轮播图 -->
	<div class="swiper">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<img class="swiper-slide" src="https://a.vpimg2.com/upload/flow/2020/07/10/26/15943746701460.jpg">
				<img class="swiper-slide" src="https://a.vpimg2.com/upload/flow/2020/07/10/119/15943674125925.jpg">
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>

		</div>
	</div>
	<!-- content内容 -->
	<div class="content container">
		<img src="../images/title.jpg" alt="">
		<div class="content-item">
			<div class="shop">
				<img src="../images/index-content.png" alt="">
				<ul>
					<li>
						<img
							src="https://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcimg/2020/06/19/47/221412821592560949553_5t_292x372_90.jpg"
							alt="">
						<div class="shop-content">
							<img
								src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/24994be57cc54b4b9a7552b6d7ff818f/10000126/black_132x66_90.png"
								alt="">
							<span>共277款</span>
						</div>
						<div class="shop-bottom">
							<img
								src="https://h2.appsimg.com/b.appsimg.com/upload/mst/2019/10/30/39/mst_99db60eb28919ece7c1148565d23550e_80x30_90.png"
								alt="">
							<span>￥239</span>
						</div>
					</li>
					<li>
						<img
							src="https://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvop/00100319/10000547/375624612-2540669989475692544-2540669989475692546-50_5t_292x372_90.jpg"
							alt="">
						<div class="shop-content">
							<img
								src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/24994be57cc54b4b9a7552b6d7ff818f/10000126/black_132x66_90.png"
								alt="">
							<span>共277款</span>
						</div>
						<div class="shop-bottom">
							<img
								src="https://h2.appsimg.com/b.appsimg.com/upload/mst/2019/10/30/39/mst_99db60eb28919ece7c1148565d23550e_80x30_90.png"
								alt="">
							<span>￥89</span>
						</div>
					</li>
					<li>
						<img
							src="https://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/2020/06/24/101/96a6f954-56e1-459c-b3e8-ec47159e8d5d_420_531_292x372_90.jpg"
							alt="">
						<div class="shop-content">
							<img
								src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/24994be57cc54b4b9a7552b6d7ff818f/10000126/black_132x66_90.png"
								alt="">
							<span>共277款</span>
						</div>
						<div class="shop-bottom">
							<img
								src="https://h2.appsimg.com/b.appsimg.com/upload/mst/2019/10/30/39/mst_99db60eb28919ece7c1148565d23550e_80x30_90.png"
								alt="">
							<span>￥159</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="list">
				<img src="../images/index-pai.png" alt="">
				<ul>
					<li>
						<img class="list-icon"
							src="http://h2.appsimg.com/b.appsimg.com/upload/mst/2019/10/30/57/mst_1738f4befd4b06c55f41eac9b7e0c20e_292x426_90.jpg"
							alt="">
						<img class="list-img"
							src="https://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/107361/2020/0321/168/aa095336-ccda-4942-8608-e13f2aa25309_420_531_292x372_90.jpg"
							alt="">
						<p>连衣裙</p>
					</li>
					<li>
						<img class="list-icon"
							src="http://h2.appsimg.com/b.appsimg.com/upload/mst/2019/10/30/57/mst_1738f4befd4b06c55f41eac9b7e0c20e_292x426_90.jpg"
							alt="">
						<img class="list-img"
							src="https://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/107361/2020/0321/168/aa095336-ccda-4942-8608-e13f2aa25309_420_531_292x372_90.jpg"
							alt="">
						<p>连衣裙</p>
					</li>
					<li>
						<img class="list-icon"
							src="http://h2.appsimg.com/b.appsimg.com/upload/mst/2019/10/30/57/mst_1738f4befd4b06c55f41eac9b7e0c20e_292x426_90.jpg"
							alt="">
						<img class="list-img"
							src="https://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/107361/2020/0321/168/aa095336-ccda-4942-8608-e13f2aa25309_420_531_292x372_90.jpg"
							alt="">
						<p>连衣裙</p>
					</li>
				</ul>
			</div>
			<div class="lowprice">
				<img src="../images/index-bottom.png" alt="">
				<ul>
					<li>
						<div class="front"></div>
						<div class="back"></div>
					</li>
					<li>
						<div class="front"></div>
						<div class="back"></div>
					</li>
					<li>
						<div class="front"></div>
						<div class="back"></div>
					</li>
					<li>
						<div class="front"></div>
						<div class="back"></div>
					</li>
					<li>
						<div class="front"></div>
						<div class="back"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 新品特卖 -->
	<div class="onshell container">
		 <div class="onshell-title">
			 <img alt="开售标题" src="http://a.vpimg4.com/upload/dop/2019/05/23/58/today_DDp.png">
		 </div>
		 <div class="onshell-sort">
			<img  alt="精选" src="http://a.vpimg3.com/upload/dop/2019/05/23/118/count_topfive.png" data-original="//a.vpimg3.com/upload/dop/2019/05/23/118/count_topfive.png">
			<div class="sp-time J_sp_time">    
					<em class="J-sp-time-H">23</em>
					<em class="J-sp-time-M">26</em>
					<em class="J-sp-time-S">56</em>
			</div>
		 </div>
		 <ul class="branch">
			
		 </ul>
	</div>

	<!-- footer内容 -->
	@-@include("footer.html")


	<script src="../js/swiper.min.js">

	</script>
	<script>
		var mySwiper = new Swiper('.swiper-container', {
			autoplay: true, //可选选项，自动滑动
		})

		//如果你初始化时没有定义Swiper实例，后面也可以通过Swiper的HTML元素来获取该实例
		new Swiper('.swiper-container', {
			loop: true,
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
		})
		var mySwiper = document.querySelector('.swiper-container').swiper
		mySwiper.slideNext();
	</script>
	</div>


</body>
<script src="../js/jquery.js"></script>
<script src="../js/promiseAjax.js"></script>
<script src="../js/index.js">
</script>

</html>