<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../sass/index.css">
    <link rel="stylesheet" href="../sass/base.css">
    <link rel="stylesheet" href="../sass/detail.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
 
    @-@include("header.html")
    <div class="select container">
        <ol class="select-option">
            <li class="sold">销量</li>
            <li class="price">价格</li>
           
        </ol>
        <ul>
           
        </ul>

    </div>
   
  
    @-@include("footer.html")
    <script src="../js/promiseAjax.js">

    </script>
    <script src="../js/page.js"> 

    </script>
    <script src="../js/jquery.js"></script>
    <script src="../js/list.js">

    </script>
</body>
</html>