<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../sass/login.css">
    <link rel="stylesheet" href="../sass/base.css">
    
</head>
<body>

    <div class="header">
      <div class="container">
          <a class="logo" href="javascript:;">
            
          </a>
          <em class="icon"></em>
      </div>
    </div>
    <div class="section">
       <div class="panel">
          <ul>
              <li><a href="javascript:;" class="active" name='login'>登录</a></li>
              <li><a href="javascript:;">注册</a></li>
          </ul>
          <ol>
              <li>
                  <form action="" class="login" autocomplete="off">
                     <input type="text" name="lg-username" placeholder="请输入用户名"> <br>
                     <input type="password" name="lg-pwd" placeholder="请输入用户名"> <br>
                    <button id="login">登录</button>
                  </form>
               
              </li>
              <li style="display: none;">
                <form action="" class="reg" autocomplete="off">
                    <input type="text" name="username" placeholder="请输入用户名"> <br>
                    <input type="password" name="password" placeholder="请输入密码"> <br>
                    <input type="password" name="repassword" placeholder="确认密码"> <br>
                    <button id="reg">注册</button>
                 </form>
              
              </li>
          </ol>
       </div>
    </div>
    <div class="footer">
        Copyright 2008-2020 vip.com，All Rights Reserved ICP证：粤 B2-20080329
    </div>
</body>
<script src="../js/promiseAjax.js">

</script>
<script src="../js/cookie.js">

</script>
<script>
    var ul =document.querySelector("ul");
    var ol=document.querySelector("ol");
    ul.onclick=function(e){
        console.log(e.target.getAttribute("name"));
        if(e.target.getAttribute("name")=="login"){
          console.log(ol.children[0])
          ol.children[0].style.display="block"
          ol.children[1].style.display="none";
          e.target.setAttribute('class','active')
          ul.children[1].children[0].setAttribute('class','')
        }else{
            ol.children[0].style.display="none"
            ol.children[1].style.display="block"
            e.target.setAttribute('class','active')
            e.target.setAttribute('class','active')
            ul.children[0].children[0].setAttribute('class','')          
        }
    }
</script>
<script>
  var login = document.querySelector("#login");
  login.onclick=function(e){
      e.preventDefault();
      var username =document.getElementsByName("lg-username")[0].value;
      var password =document.getElementsByName("lg-pwd")[0].value;
      pAjax({
       url:"/gx/server/login.php",
       data:{
        username:username,
        password:password,
       },
       type:"post",
 
      }).then(function(res){
         console.log(res)
         if(res.status==200){
            setCookie("username",username,7200);
            location.href="index.html"
         }
     });
  }
</script>
<script>
    var reg =document.querySelector("#reg");
    reg.onclick=function(e){
      e.preventDefault();
      var username =document.getElementsByName("username")[0].value;
      var password =document.getElementsByName("password")[0].value;
      var repassword=document.getElementsByName("repassword")[0].value;
       if(password!==repassword){
          alert("密码不一致，请重新输入密码");
          return false;
       }
      pAjax({
       url:"/gx/server/reg.php",
       data:{
        username:username,
        password:password,
       },
       type:"post",
 
      }).then(function(res){
         console.log(res)
         if(res.status==200){
         
            location.href="login.html"
         }
     });
    }
</script>
</html>